@{
    ViewBag.Title = "Contingencia APP";
}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>




<div class="jumbotron">



    
    <h1>Contingencia APP</h1>
    

</div>



<div class="row">
    
        <h2>Bienvenido Contingencia APP</h2>
            <div>
                <p>
                    Para comenzar a utilizar la aplicación dirijase a la seccion de Administración, y gestione sus planes de contingencia.
                </p>
                <hr />
                1) Cree Condiciones para escenarios
                <br />
                2) Cree Escenarios
                <br />
                ....

    

    </div>
  
</div>