@{
    ViewBag.Title = "Contingencia APP";
}

<div class="jumbotron">
    <h1>Contingencia APP</h1>
    <p class="lead"></p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg"> &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>ABM</h2>

        <p>
            <div>
           
               
              </div>   
        </p>
        <p><a class="btn btn-default" href="#">Mas... &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contacto</h2>
        <p></p>
        
    </div>
    <div class="col-md-4">
        <h2>Soporte</h2>
        <p></p>
        
    </div>
</div>